version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      kotlin:
        patterns:
          - "org.jetbrains.kotlin*"
      toolbox:
        patterns:
          - "com.jetbrains.toolbox*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
